*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: #fff;
}

body {
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-background);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Color schemes */
.demo-1 {
	--color-text: #d8d1d1;
	--color-background: #fff;
	--color-link: #72af3a;
	--color-link-hover: #d8d1d1;
	--color-info: #72af3a;
}

.demo-2 {
	--color-text: #333;
    --color-background: #bee897;
    --color-link: #72af3a;
    --color-link-hover: #485a36;
    --color-info: #fff;
}

.demo-3 {
	--color-text: #fff;
	--color-background: #193ccf;
	--color-link: #fff;
	--color-link-hover: #000;
	--color-info: #fff473;
}

.demo-4 {
	--color-text: #81838c;
    --color-background: #fff;
    --color-link: #96e23e;
    --color-link-hover: #fff;
    --color-info: #ea7836;
}

.demo-5 {
    --color-text: #fff;
    --color-background: #2b54ee;
    --color-link: #fff;
    --color-link-hover: #f7fb40;
    --color-info: #f7fb40;
}

/* Fade effect */
.js body {
	opacity: 0;
	transition: opacity 0.3s;
		
}

.js body.render {
	opacity: 1;
}

a {
	text-decoration: none;
	color: #5d93d8;
	color: var(--color-link);
	outline: none;
}

a:hover,
a:focus {
	color: #423c2b;
	color: var(--color-link-hover);
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	margin: 0 auto;
}

.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	height: 100vh;
	padding: 1.5em;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header ...'
	'... ...'
	'github demos';
}

.content--fixed a {
	pointer-events: auto;
}

.scene {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	pointer-events: none;
	z-index: 1;
}

@media screen and (max-width: 55em) {
	html,
	body {
		overflow-x: hidden;
		width: 100vw;
		height: 100%;
	}
	.content {
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
		flex-direction: column;
	}
	.content--fixed {
		position: relative;
		z-index: 1000;
		display: block;
		padding: 0.85em;
	}
}

.title {
	color: #fff;
	font-size: 6vw;
	font-weight: 400;
	z-index: 1000;
	font-family: "Arapey", serif;
	pointer-events: none;

	display: block;
	width: 50vw;
}
.scene path {
	/*fill: #fc4a1a;*/
}
