@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,400");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

html {
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  cursor: pointer; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important; }

.clear {
  clear: both; }

::-moz-selection {
  color: #fff;
  background: #11b2b3; }

::selection {
  color: #fff;
  background: #11b2b3; }

a:active,
a:hover {
  outline: 0; }

@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.'; }

/* IE6 */
* html .clearfix {
  height: 1%; }

/* IE7 */
*:first-child + html .clearfix {
  min-height: 1px; }

.alignleft {
  float: left;
  padding: 0 20px 0 0; }

.alignright {
  float: right;
  padding: 0 0 0 20px; }

.aligncentre {
  float: none;
  margin-bottom: 10px; }

*::-webkit-media-controls {
  display: none !important; }

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none; }

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none; }

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

/* Slider */
.slider {
  text-align: center; }
  .slider img {
    position: relative;
    margin: auto;
    cursor: zoom-in;
    background: #11b2b3; }
    .slider img:hover {
      opacity: .7; }
  .slider h1 {
    font-size: 1.5em;
    margin: 1em; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block; }
  .slick-track:before, .slick-track:after {
    display: table;
    content: ''; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px; }
  [dir='rtl'] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  cursor: pointer;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: transparent;
  border: none;
  outline: none;
  background: transparent; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    color: transparent;
    outline: none;
    background: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "FontAwesome";
    font-size: 20px;
    line-height: 1;
    opacity: 0.75;
    color: #11b2b3;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir='rtl'] .slick-prev {
    right: -25px;
    left: auto; }
  .slick-prev:before {
    content: ""; }
    [dir='rtl'] .slick-prev:before {
      content: ""; }

.slick-next {
  right: -25px; }
  [dir='rtl'] .slick-next {
    right: auto;
    left: -25px; }
  .slick-next:before {
    content: ""; }
    [dir='rtl'] .slick-next:before {
      content: ""; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: block;
      width: 20px;
      height: 20px;
      padding: 5px;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      background: transparent; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        font-family: "FontAwesome";
        font-size: 6px;
        line-height: 20px;
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        content: "";
        text-align: center;
        opacity: 0.25;
        color: black;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      opacity: 0.75;
      color: black; }

.slick-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: black;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease; }

.slick-lightbox .slick-loading .slick-list {
  background-color: transparent; }

.slick-lightbox .slick-prev {
  left: 15px; }

.slick-lightbox .slick-next {
  right: 15px; }

.slick-lightbox-hide {
  opacity: 0; }

.slick-lightbox-hide.slick-lightbox-ie {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); }

.slick-lightbox-hide-init {
  position: absolute;
  top: -9999px;
  opacity: 0; }

.slick-lightbox-hide-init.slick-lightbox-ie {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0); }

.slick-lightbox-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.slick-lightbox-slick-item {
  text-align: center;
  overflow: hidden; }

.slick-lightbox-slick-item:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; }

.slick-caption-bottom .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  margin-bottom: 20px; }

.slick-caption-dynamic .slick-lightbox-slick-item .slick-lightbox-slick-item .slick-lightbox-slick-caption {
  display: block;
  text-align: center; }

.slick-lightbox-slick-item-inner {
  display: inline-block;
  vertical-align: middle;
  max-width: 90%;
  max-height: 90%; }

.slick-lightbox-slick-img {
  margin: 0 auto;
  display: block;
  max-width: 90%;
  max-height: 90%; }

.slick-lightbox-slick-caption {
  margin: 10px 0 0;
  color: white; }

.slick-lightbox-close {
  position: absolute;
  top: 15px;
  right: 15px;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  padding: 0;
  border: none; }

.slick-lightbox-close:focus {
  outline: none; }

.slick-lightbox-close:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.85;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '×'; }

@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg"); }

html {
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: anti-aliased; }

body {
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
  line-height: 150%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #11b2b3;
  background: #f7f9fa; }
  body a {
    color: #11b2b3; }
    body a:hover {
      color: #f36f2b; }

header {
  margin-bottom: 2em;
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(99, 114, 130, 0.15); }
  header > section {
    padding: .8em 0; }
  header h1 {
    font-size: 1.9em;
    line-height: 1.4em;
    margin: 0;
    color: #11b2b3; }
  header em {
    font-family: 'times';
    color: #666; }
  header:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: '.'; }
  header ul {
    border-top: 1px solid #e6e8eb; }
    header ul li {
      display: inline-block;
      float: left;
      padding: 1em 0;
      color: #666; }
      header ul li:after {
        font-family: "FontAwesome";
        margin: 0 1em;
        content: '\f105'; }
      header ul li:last-child:after {
        content: none; }
      header ul li a {
        color: #666; }

section {
  width: 90%;
  max-width: 960px;
  margin: auto; }

#contents ul li {
  padding: .5em 0;
  list-style: none;
  border-bottom: 1px solid #fff; }
  #contents ul li a {
    text-decoration: none; }
  #contents ul li a:before {
    font-family: "FontAwesome";
    margin-right: .5em;
    content: '\f114'; }
  #contents ul li a:after {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    font-weight: 100; }
  #contents ul li a[href$='.xls']:before {
    content: '\f1c3'; }
  #contents ul li a[href$='.xls']:after {
    content: '.xls'; }
  #contents ul li a[href$='.pdf']:before {
    content: '\f1c1'; }
  #contents ul li a[href$='.mp3']:before {
    content: '\f1c7'; }
  #contents ul li a[href$='.txt']:before {
    content: '\f0f6'; }
  #contents ul li a[href$='.zip']:before {
    content: '\f1c6'; }
  #contents ul li a[href$='.png']:before {
    content: '\f1c5'; }
  #contents ul li a[href$='.jpg']:before {
    content: '\f1c5'; }
  #contents ul li a[href$='.html']:before {
    content: '\f1c9'; }
  #contents ul li a[href$='.pp']:before {
    content: '\f1c4'; }

p {
  margin-bottom: 1em;
  color: #666; }

#bijlagen {
  display: none; }
  @media (min-height: 450px) {
    #bijlagen {
      font-size: .8em;
      position: fixed;
      bottom: 1vw;
      left: 1vw;
      display: block;
      float: left;
      transform: rotate(-90deg);
      transform-origin: left top 0; } }
