html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th {
	padding: 0;
	margin: 0;
	font-size: 100%;
	vertical-align: baseline;
	border: 0;
	outline: 0;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
a {
	cursor: pointer;
}
img {
	display: inline-block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	-ms-interpolation-mode: bicubic;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
:focus {
	outline: 0;
}
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased !important;

	text-rendering: optimizeLegibility !important;
}
.clear {
	clear: both;
}
::-moz-selection {
	color: #fff;
	background: $color-primary;
}
::selection {
	color: #fff;
	background: $color-primary;
}
a:active,
a:hover {
	outline: 0;
}
@-webkit-viewport {
	width: device-width;
}
@-moz-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@-o-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

.clearfix:after {
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	content: '.';
}
/* IE6 */
* html .clearfix {
	height: 1%;
}
/* IE7 */
*:first-child + html .clearfix {
	min-height: 1px;
}
.alignleft {
	float: left;
	padding: 0 20px 0 0;
}
.alignright {
	float: right;
	padding: 0 0 0 20px;
}
.aligncentre {
	float: none;
	margin-bottom: 10px;
}


// -------------
// BACKGROUND PLAY BUTTON VIDEO 
// -------------
*::-webkit-media-controls {
  display: none!important;
}
*::-webkit-media-controls-panel {
  display: none!important;
  -webkit-appearance: none;
}
*::--webkit-media-controls-play-button {
  display: none!important;
  -webkit-appearance: none;
}
*::-webkit-media-controls-start-playback-button {
  display: none!important;
  -webkit-appearance: none;
}

