@import url("https://fonts.googleapis.com/css?family=Roboto:500,900");
.clear:after {
  display: block;
  visibility: hidden;
  clear: both;
  height: 0;
  content: '.'; }

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, form, label, legend, table, caption, tbody, tfoot, thead, tr, th {
  padding: 0;
  margin: 0;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
  outline: 0; }

html {
  height: 100%; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

a {
  cursor: pointer; }

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased !important;
  text-rendering: optimizeLegibility !important; }

.clear {
  clear: both; }

::-moz-selection {
  color: #fff;
  background: #000000; }

::selection {
  color: #fff;
  background: #000000; }

a:active,
a:hover {
  outline: 0; }

@-webkit-viewport {
  width: device-width; }

@-moz-viewport {
  width: device-width; }

@-ms-viewport {
  width: device-width; }

@-o-viewport {
  width: device-width; }

@viewport {
  width: device-width; }

.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  content: '.'; }

/* IE6 */
* html .clearfix {
  height: 1%; }

/* IE7 */
*:first-child + html .clearfix {
  min-height: 1px; }

.alignleft {
  float: left;
  padding: 0 20px 0 0; }

.alignright {
  float: right;
  padding: 0 0 0 20px; }

.aligncentre {
  float: none;
  margin-bottom: 10px; }

*::-webkit-media-controls {
  display: none !important; }

*::-webkit-media-controls-panel {
  display: none !important;
  -webkit-appearance: none; }

*::--webkit-media-controls-play-button {
  display: none !important;
  -webkit-appearance: none; }

*::-webkit-media-controls-start-playback-button {
  display: none !important;
  -webkit-appearance: none; }

html {
  height: 100%;
  -webkit-font-smoothing: anti-aliased; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  display: block;
  min-height: 100%;
  background: #fff;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.wrapper {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  width: 60%;
  left: 20%; }
  .wrapper .section {
    position: relative;
    top: 50%;
    transform: translateY(-70%); }

h1 {
  font-size: 5em;
  font-weight: 900;
  margin: .2em 0;
  padding: 0;
  color: #000 !important; }
  h1 a {
    text-decoration: none;
    color: #000 !important; }
