@import url('https://fonts.googleapis.com/css?family=Roboto:500,900');
@import '_mixins';
@import '_reset';

html {
	height: 100%;

	-webkit-font-smoothing: anti-aliased;
}
body {
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	display: block;
	min-height: 100%;
	background: #fff;

	-webkit-transform-style: preserve-3d;
	   -moz-transform-style: preserve-3d;
	        transform-style: preserve-3d;
}
.wrapper {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	width: 60%;
	left: 20%;
	.section {
		position: relative;
		top: 50%;
		transform: translateY(-70%);
	}
}
h1 {
	font-size: 5em;
	font-weight: 900;
	margin: .2em 0;
	padding: 0;
	color: #000 !important;
	a {
		text-decoration: none;
		color: #000 !important;
	}
}
