$color-base: #32465B;
$color-secondary: #26A4A1;
$color-tertiary: #DA5338;
$color-accent: #f36f2b;

$w: #fff;
$b: #000;
$t: #00FF00;

$good: #53b19f; // groen
$warning: #fcb13a; // oranje
$bad: #d44960; // rood

$t: #0f0;
$t2: #f0f;

// breakpoints
$small: 320px;
$med: 640px;
$large: 920px;
$wide: 1200px;
$mega: 1400px;

@mixin transition ($transition) {
	-webkit-transition: all $transition ease-in-out;
	   -moz-transition: all $transition ease-in-out;
	     -o-transition: all $transition ease-in-out;
	        transition: all $transition ease-in-out;
}
@mixin scale ($scale) {
	-webkit-transform: scale($scale);
	    -ms-transform: scale($scale);
	        transform: scale($scale);
}
@mixin translate ($translateX, $translateY) {
	-webkit-transform: translate($translateX, $translateY);
	    -ms-transform: translate($translateX, $translateY);
	        transform: translate($translateX, $translateY);
}
@mixin translateY ($translateY) {
	-webkit-transform: translate(0, $translateY);
	    -ms-transform: translate(0, $translateY);
	        transform: translate(0, $translateY);
}
@mixin translateX ($translateX) {
	-webkit-transform: translate($translateX, 0);
	    -ms-transform: translate($translateX, 0);
	        transform: translate($translateX, 0);
}
@mixin radius ($radius) {
	-webkit-border-radius: $radius;
	   -moz-border-radius: $radius;
	        border-radius: $radius;
}
@mixin shadow ($shadow, $tint) {
	-webkit-box-shadow: 0 0 $shadow 0 rgba(50, 50, 50, $tint);
	   -moz-box-shadow: 0 0 $shadow 0 rgba(50, 50, 50, $tint);
	        box-shadow: 0 0 $shadow 0 rgba(50, 50, 50, $tint);
}
@mixin insetshadow ($inset-shadow) {
	-webkit-box-shadow: inset $inset-shadow;
	   -moz-box-shadow: inset $inset-shadow;
	        box-shadow: inset $inset-shadow;
}
@mixin rotate ($rotate) {
	// 90deg
	-webkit-transform: rotate($rotate);
	    -ms-transform: rotate($rotate);
	        transform: rotate($rotate);
}
@mixin boxshadow ($box-shadow) {
	//0px 0px 5px 0px rgba($b,0.75)
	-webkit-box-shadow: $box-shadow;
	   -moz-box-shadow: $box-shadow;
	        box-shadow: $box-shadow;
}
@mixin animation ($animation){
	animation: $animation;
	-ms-animation: $animation;
	-moz-animation: $animation;
	-webkit-animation: $animation;
}
@mixin opacity ($opacity) {
	     opacity: $opacity;

	-moz-opacity: $opacity;
	-khtml-opacity: $opacity;
}
@mixin clearfix {
	&:after {
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		content: '.';
	}
}
.clear {
	@include clearfix;
}
.flex-center {
	display: flex;
	align-items: center;

	justify-content: center;
}
