@font-face {
	font-family: 'FontAwesome';
	font-weight: normal;
	font-style: normal;
	src: url('../fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
}
@font-face {
	font-family: 'Copernicus';
	src: url('../fonts/Copernicus-Extrabold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Copernicus-Extrabold.woff') format('woff'), url('../fonts/Copernicus-Extrabold.ttf')  format('truetype'), url('../fonts/Copernicus-Extrabold.svg#Copernicus-Extrabold') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Copernicus';
	src: url('../fonts/Copernicus-Heavy.eot?#iefix') format('embedded-opentype'),  url('../fonts/Copernicus-Heavy.woff') format('woff'), url('../fonts/Copernicus-Heavy.ttf')  format('truetype'), url('../fonts/Copernicus-Heavy.svg#Copernicus-Heavy') format('svg');
	font-weight: 900;
	font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,900');
$font-stack: 'Montserrat', sans-serif;
$serif: 'Copernicus', "Century Schoolbook", "Century Schoolbook L",  Garamond, "Apple Garamond", "ITC Garamond Narrow", "New Century Schoolbook", Georgia, serif;
$icon: 'FontAwesome';

h1, h2, h3, h4 {
	margin: 1.5em 0 0.5em;
	color: $color-secondary;
	font-family: $serif;
}
h1 {
	font-size: 1.8em;
	color: $color-base;
	&:first-child + p strong { // Ulysses export intro text
		font-family: $serif;
		font-style: italic;
		font-size: 120%;
	}
}

h2 {font-size: 1.3em;}
h3 {
	font-size: 1.1em;
	color: $color-base;
}
h4 {font-size: 1.333em;}

p {
	margin-bottom: 1em;
	+ ul, + ol {
		margin-top: -1em;
	}
}
a {
	color: #11b2b3;
	&:hover {
		color: #f36f2b;
	}
}
code { // Ulysses export trick for marked text
	font-family: $font-stack;
	padding: .2em 0;
	background: #F1F0EC;
	box-shadow: 0.2em 0 0 #F1F0EC, -0.2em 0 0 #F1F0EC;
}
blockquote {
	position: relative;
	font-weight: 700;
	font-style: italic;
	max-width: 80%;
	padding-left: 1.5em;
	quotes: '“' '”' '‘' '’';
	&:before {
		color: $color-secondary;
		left: 0;
		font-family: sans-serif;
		font-size: 2.2em;
		display: block;
		position: absolute;
		content: open-quote;
	}
	cite {
		font-size: .8em;
		font-weight: 400;
		font-style: normal;
		display: block;
		display: block;
		margin-top: -.5em;
		color: #999;
		&:before {
			font-family: sans-serif;
			content: '– ';
		}
	}
}