@import '_reset';
@import '_mixins';
@import '_typo';
@import '_slider';
@import '_lightbox';

html {
	height: 100%;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: anti-aliased;
	background: url('../img/background-image.jpg')no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
body {
	font-family: $font-stack;
	line-height: 2em;
	margin: 0 auto;
	padding: 0;
	color: $color-base;
}
header {
	margin-bottom: 2em;
	background: #fff;
	box-shadow: 0 1px 4px 0 rgba(99, 114, 130, .15);
	> section {
		padding: .2em 0 !important;
	}
	.page-title {
		font-size: 2.3em;
		line-height: 1.4em;
		margin: .5em 0 0;
		font-family: $serif;
		font-weight: 900;
		color: $color-base;
	}
	.page-subtitle {
		margin: 0 0 .5em;
		font-size: 1.1em;
		font-family: $serif;
		color: $color-base;
		font-style: normal;
		font-weight: normal;
	}
	&:after {
		display: block;
		visibility: hidden;
		clear: both;
		height: 0;
		content: '.';
	}
	ul {
		border-top: 1px solid lighten($color-base, 60%);
		li {
			display: inline-block;
			float: left;
			padding: .3em 0;
			color: $color-base;
			&:after {
				font-family: $icon;
				margin: 0 1em;
				content: '\f105';
			}
			&:last-child:after {
				content: none;
			}
			a {
				color: #666;
			}
		}
	}
}
section {
	width: 90%;
	max-width: 960px;
	margin: auto;
	&:last-of-type {
		padding-bottom: 1em;
	}
}
.contents {
	ul {
		margin-left: 1em;
	}
	li {
		list-style: none;
		a {
			color: $color-base;
			text-decoration: none;
		}
		a:before {
			font-family: $icon;
			margin-right: .5em;
			content: '\f0c6';
		}
		a:after {
			font-family: $icon;
			font-size: .8em;
			margin-left: .5em;
			font-weight: 100;
			content: '\f0f6';
		}
		ul {
			margin-left: 3em;
		}
		a.folder:after {
			content: '\f114';
		}
		a.todo {
			color: $bad;
		}
		a[href$='.xls']:after {
			content: '\f1c3';
		}
		a[href$='.pdf']:after {
			content: '\f1c1';
		}
		a[href$='.mp3']:after {
			content: '\f1c7';
		}
		a[href$='.txt']:after {
			content: '\f0f6';
		}
		a[href$='.zip']:after {
			content: '\f1c6';
		}
		a[href$='.png']:after {
			content: '\f1c5';
		}
		a[href$='.jpg']:after {
			content: '\f1c5';
		}
		a[href$='.html']:after {
			content: '\f1c9';
		}
		a[href$='.pp']:after {
			content: '\f1c4';
		}
	}
}
.home .contents:after {
	margin-top: 2em;
	content: '';
	width: 5em;
	height: 4px;
	background: $color-tertiary;
	display: block;
}
#bijlagen {
	display: none;
	@media (min-height: 450px) {
		font-size: .8em;
		position: fixed;
		bottom: 1vw;
		left: 1vw;
		display: block;
		float: left;
		transform: rotate(-90deg);
		transform-origin: left top 0;
	}
}
